:root {
    --background-color: white;
    --highlight-color: #a42ade;
    --prmary-color: #280e62;
    --secondary-color: #8c8c8c;
    --teriary-color: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

form {
    align-items: center;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

header {
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

input {
    font-size: 2rem;
    height: 3rem;
    padding: .5rem;
}

h1 {
    font-size: 3rem;
}

h1 {
    margin-bottom: 1.5rem;
}

header a {
    color: var(--highlight-color);
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 0 auto;
    max-width: 960px;
    padding: 1.5rem;
}

p {
    font-size: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#answer-result {
    border-top: solid 1px var(--secondary-color);
    color: var(--secondary-color);
    display: none;
    font-size: 3rem;
    font-style: italic;
    font-weight: normal;
    margin: 1.5rem;
    width: 100%;
}

#content {
    display: flex;
    width: 100%;
}

#title {
    text-align: center;
    width: 100%;
}

#introduction {
    text-align: center;
}

#scores-list {
    width: 100%;
}

#start-button {
    margin: 1.5rem auto;
    padding: 1rem 1.5rem;
}

#submit-button {
    margin: 0;
    padding: .5rem 1.5rem;
}

.score-card-entry {
    background-color: #d0c8e5;
    color: black;
    font-size: 2rem;
    margin: .5rem 0;
    padding: .5rem;
}

.button {
    background-color: var(--prmary-color);
    border-radius: .75rem;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem 1.5rem;
}

.button:hover {
    background-color: var(--highlight-color);
}